// Lab3.rc - main window resources
#include <windows.h>
#include "resource.h"

IDR_MAINMENU MENU
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "В&ихід", IDM_EXIT
    END
    POPUP "&Об'єкти"
    BEGIN
        MENUITEM "&Точка",        IDM_POINT
        MENUITEM "&Лінія",        IDM_LINE
        MENUITEM "П&рямокутник",  IDM_RECT
        MENUITEM "&Еліпс",        IDM_ELLIPSE
        MENUITEM "Трик&утник",    IDM_TRIANGLE
        MENUITEM SEPARATOR
        MENUITEM "&Вибір",        IDM_SELECT
        MENUITEM SEPARATOR
        MENUITEM "&Колір заливки...", IDM_FILLCOLOR
    END
    POPUP "&Довідка"
    BEGIN
        MENUITEM "&Про програму", IDM_ABOUT
    END
END
